
<div class="deyver">
  <input type="radio" id="loginForm" name="formToggle" checked>
  <div class="wrapper" id="loginFormContent">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login</h1>
      <div class="input-box">
        <label for="username"></label>
        <input id="username" formControlName="username" type="text" placeholder="Username" required/>
      </div>
      <div class="input-box">
        <label for="password"></label>
        <input id="password" formControlName="password" type="password" placeholder="Password" required/>
      </div>
      <button type="submit" class="btn">Iniciar Sesión</button>
      <div class="link">
        <p>¿No tienes una cuenta? <button type="submit" class="btn" (click)="navigateToRegister()">Register</button></p>
      </div>
    </form>
  </div>
</div>
